@media only screen and (min-width: 601px){
        /* CSS for Plant Literacy*/
    
    h1 {
    font-family: futura;
    text-align: center;
    color: #2da633;
    margin-top: 3%;
}
    
    h2 {
        display: flex;
        flex-direction: column;
        font-family: futura;
        text-align: center;
        margin-top: 3%;
    }
    
    h2 a{
        text-decoration: none;
        margin-top: 1.5%;
        color: #117d0a;
    }
    
    h2 a:hover {
        text-shadow: 1px 1px 3px #9dff2e;
    }
    
    .Mobile {
        display: none;
    }
}