@media only screen and (min-width: 601px){
     /* CSS for usingPlantTracer.html */
    
    @font-face {
        font-family: futura;
        src: url(css/Futura-Medium.woff);
    }
    
    .Mobile{
        display: none;
    }
    
    h1 {
    font-family: "futura";
    text-align: center;
    color: #2da633;
    margin-top: 3%;
}
    .unbold{
        font-weight: normal;
    }
    
    .bigSubStep {
        display: flex;
    }
    
    .bigSubStep p {
        font-family: "futura";
        width: 80%;
        padding: 20px;
        text-align: center;
    }
    
    #bottle {
        width: 100%;
    }
    
    #subStepOne {
        margin-left: 5%;
        padding-bottom: 3%;
    }
    
    #subStepTwo {
        margin-left: 5%;
        padding-bottom: 3%;
    }
    
    #subStepThree {
        margin-right: 5%;
        padding-top: 1%;
    }
    
    #potter {
        width: 100%;
    }

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #bigPlant {
        width: 90%;
        margin-top: 18.88px;
    }
    
    #substepBubble1 {
        width: 20%;
        display: block;
    }

    #substepBubble2 {
        width: 18%;
        display: block;
    }

    #substepBubble3 {
        width: 13%;
        display: block;
    }
    
    .subStepBubble {
        width: 10%;
    }
    
    #bubbleOne {
        padding-top: 2%;
    }
    
    #greenBubbles {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #greenBubblesImg {
        width: 600px;
        padding-bottom: 30px;
        padding-top: 15px;
    }
    
    .nextStep{
        margin-right: 5%;
        display: flex;
        justify-content: center;
    }
    
    .nextBtn{
        width: 150px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .backStep{
        margin-left: 5%;
        display: flex;
        justify-content: center;
    }
    
    .backBtn{
        width: 150px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #PTPhone {
        width: 50%;
        height: 65%;
    }

    #lapseItPhone {
        width: 50%;
        height: 65%;
    }
    
    .slideImg {
        width: 70vw;
        height: 50%;
        display: block;
        margin: auto;
    }
    
    .slideImg4 {
        width: 63vw;
        height: 43%;
        display: block;
        margin: auto;
    }
    
    .slideImg5 {
        width: 70vw;
        height: 75%;
        display: block;
        margin: auto;
    }
    
    .slideImg8 {
        width: 62vw;
        height: 45%;
    }
}