
h3{
	text-align: center;
	font-family: futura;
	justify-content: center;
	margin-right: 20vw;
	margin-left: 20vw;
	margin-top: 5vw;
	color: #117d0a;
}

#downloadBtn:hover,
#downloadBtn:focus{
     cursor: pointer;
   }

