@media only screen and (max-width: 600px){

    #homePlant {
        display: none;
    }
    
    #login {
        display: none;
    }
    
    #newUser {
        display: none;
    }
    
    #homeLogo {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 40px;
}

    #description {
        font-family: Futura;
        font-weight: bold;
        color: #2da633;
        width: 80%;
        margin-left: 13%;
        display: block;
    }

    .optionBtn {
        background-color: transparent;
        color: #2da633;
        border-radius: 8px;
        border-color: #2da633;
        display: block;
        margin: auto;
        width: 160px;
        height: 35px;
        margin-top: 10px;
        font-weight: bold;
        font: Futura;
    }
    
    #newUser {
        display: none;
    }

    #seedOrder {
        text-decoration: none;
        color: #2da633;
    }

    #download {
        margin-top: 15px;
    }
    
    #downloadBtn {
        background-color: #2da633;
        color: white;
        border-radius: 8px;
        display: block;
        margin: auto;
        width: 42%;
        height: 60px;
        font-family: Futura;
    }
    
}